@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Index";
}

<h1>All Movies </h1>


<div class="container ">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 g-5">

                <div class="card">
                    <div class="col-md-12 bg-success card-header d-flex justify-content-between">
                        <h5 class="text- text-white ">
                            @item.Name</h5> 
                            @if(User.Identity.IsAuthenticated&&User.IsInRole("Admin"))
                            {
                            <a class=" text-white" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen-to-square "> </i></a>

                            }
                    </div>

                    <div class="card-body">
                        <div>
                            <img src="~/Images/@item.ImageUrl" class="w-100 rounded mx-auto" alt="@item.Name">
                         </div>
                        <p class="card-text "><b>Descreption:</b> @item.Description</p>

                        <p class="card-text "><b>Cinema:</b> @item.Cinema.Name</p>
                        <p class="card-text "><b>Categry:</b>@item.MovieCategory</p>
                        <p class="card-text "><b>StartDate:</b> @item.Startdate.ToString("dd MM yyy")</p>
                        <p class="card-text "><b>EndDate:</b>@item.EndData.ToString("dd MM yyy")</p>
                        <p class="card-text ">
                            <b>Status:</b>@if (DateTime.Now >= item.Startdate && DateTime.Now <= item.EndData)
                            {
                                <span class="badge bg-success text-white">Avalible</span>
                            }
                            else if (DateTime.Now > item.EndData)
                            {
                                <span class="badge bg-danger text-white">Expired</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UpComing</span>
                            }
                        </p>
                    </div>
                    <div class="col-md-12 d-flex justify-content-between">
                        <a class="btn btn-outline-primary @((DateTime.Now>item.EndData?"disabled":"")) "
                        asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                        <i class="fa-solid fa-cart-shopping"></i>Add to Cart(Price @item.Price.ToString("c",CultureInfo.GetCultureInfo("en-US"))</a>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i> View Details</a>
                    </div>
                </div>
            </div>

        }



    </div>
</div>

<partial name="_AddButtonPartialView" model="@Model.ToString()" />




